$main-font: 'Roboto', sans-serif;
$radial-gradient:radial-gradient(50% 50% at 50% 50%, #EB9038 0%, #F3C0C6 33.85%, #F3C3CF 66.67%, #8DC4F3 100%);
$linear-gradient:linear-gradient( #8dc3f3d0 0%, #f3c0c6cc 33.85%, #f3c3cfd8 66.67%, #eb8f38d5 100%);
$black: #111111;
$white: #FFFFFF;
$gray: #BABABA;
$light-gray: #BDCAD8;
$pink: #FBEDF1;
$blue: #EAF4FC;
$yellow: #FCECDC;
$dark-gray: #3D4853;


